<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk">

    <application
        android:name=".AirDeskContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".WorkspaceList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OwnedWorkspace"
            android:launchMode="singleTop"
            android:label="@string/title_activity_owned_workspace"
            android:theme="@style/OwnedWorkspaceTheme"
            android:parentActivityName=".WorkspaceList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.WorkspaceList" />
        </activity>
        <activity
            android:name=".ForeignWorkspace"
            android:launchMode="singleTop"
            android:label="@string/title_activity_foreign_workspace"
            android:theme="@style/ForeignWorkspaceTheme"
            android:parentActivityName=".WorkspaceList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.WorkspaceList" />
        </activity>
        <activity
            android:name=".WorkspaceSetup"
            android:label="@string/title_activity_workspace_setup"
            android:theme="@style/OwnedWorkspaceTheme"
            android:parentActivityName=".WorkspaceList"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.WorkspaceList" />
        </activity>
        <activity
            android:name=".ViewFileOwned"
            android:label="@string/title_activity_view_file_owned"
            android:theme="@style/OwnedWorkspaceTheme"
            android:parentActivityName=".OwnedWorkspace" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnedWorkspace" />
        </activity>
        <activity
            android:name=".EditFileOwned"
            android:label="@string/title_activity_edit_file_owned"
            android:theme="@style/OwnedWorkspaceTheme"
            android:parentActivityName=".OwnedWorkspace" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.OwnedWorkspace" />
        </activity>
        <activity
            android:name=".EditFileForeign"
            android:label="@string/title_activity_edit_file_foreign"
            android:theme="@style/ForeignWorkspaceTheme"
            android:parentActivityName=".ForeignWorkspace">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.ForeignWorkspace" />
        </activity>
        <activity
            android:name=".ViewFileForeign"
            android:label="@string/title_activity_view_file_foreign"
            android:theme="@style/ForeignWorkspaceTheme"
            android:parentActivityName=".ForeignWorkspace">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.ForeignWorkspace" />
        </activity>
        <activity
            android:name=".WorkspaceClientList"
            android:theme="@style/OwnedWorkspaceTheme"
            android:label="@string/title_activity_workspace_client_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnedWorkspace" />
        </activity>
    </application>

</manifest>
